@import "../../../index.scss";

.input-user-info {
    display: block;
    min-width: 285px;
    max-width: 100%;
    width: 418px;
    height: 50px;
    padding: 16px 20px;
    box-sizing: border-box;

    font-family: $font-inter;
    font-size: 15px;
    color: #718EBF;
    border: 1px solid #DFEAF2;
    border-radius: 15px;

    @media (max-width: 820px) {
        width: 100%;
        max-height: 40px;
        font-size: 12px;
        padding: 12px 15px;
    }
}